.panel {
  margin: 16px 0;
}

.panel-title {
  font-weight: bold;
  font-size: 20px;
  padding: 16px;
}

.panel-title:after {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transform: scaleY(0.5);
}

.panel-item {
  padding: 16px;
}

.panel-item:after {
  content: " ";
  position: absolute;
  left: 16px;
  right: 16px;
  top: 0;
  bottom: 0;
  height: 1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transform: scaleY(0.5);
}